[Unit]
Description=Demo Spring Boot
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/usr/bin/java -jar /artifact/rt-charity-remainder-bot-0.0.1-SNAPSHOT.jar
[Install]
WantedBy=multi-user.target